@page "/GridTestPage"



<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            <a targe="_blank" href="https://blazorise.com/docs/extensions/datagrid/">Blazorise Data Grid</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <a targe="_blank" href="https://github.com/stsrki/Blazorise">Available on GitHub</a>
        </h6>
    </div>
    <div class="card-body">
        <BlazoriseGridDemo></BlazoriseGridDemo>
    </div>
</div>

<br />

<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            <a targe="_blank" href="https://github.com/manureini/MComponents">MComponents Grid</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <a targe="_blank" href="https://github.com/manureini/MComponents">Available on GitHub</a>
        </h6>
    </div>
    <div class="card-body">
        <MComponentsGridDemo></MComponentsGridDemo>
    </div>
</div>

<br />



<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            <a targe="_blank" href="https://blazortable.netlify.app/">BlazorTable Grid</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <a targe="_blank" href="https://github.com/IvanJosipovic/BlazorTable">Available on GitHub</a>
        </h6>
    </div>
    <div class="card-body">
        <BlazorTableGridDemo></BlazorTableGridDemo>
    </div>
</div>


@code {




}