@page "/ModalTestPage"

<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            <a targe="_blank" href="https://antblazor.com/en-US/components/modal">AntBlazor Modal Dialog</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <a targe="_blank" href="https://github.com/ant-design-blazor/ant-design-blazor">Available on GitHub</a>
        </h6>
    </div>
    <div class="card-body">
        <AntDesignModalDialogDemo></AntDesignModalDialogDemo>
    </div>
</div>



@code{



}